@charset "utf-8";

/* 
	CSS Document for Saianna Style Studio
	by Aakash Bhatia <akash.bhatia1184@gmail.com>
	http://thebrauxelcode.com/
*/

/*-------------------------------------------------------------------------------------	
	0.	CSS Resets
	1.	Global Styles
	2.  Home Page Styles
-------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	0.	CSS Resets
/*-----------------------------------------------------------------------------------*/

* {
  margin: 0px;
  padding: 0px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

address {
	font-style:normal;
	display:inline;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-weight:700;
	text-align:center;
	border-bottom:1px solid #2a2017;
	margin-bottom:10px;
	font-size:30px;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-weight:700;
	border-bottom:2px solid #2A2017;
	padding-bottom:3px;
	padding-top:3px;
	margin-bottom:10px;
	font-size:20px;
}

h3 {
	margin-bottom:10px;
	font-size:18px;
}
/*-----------------------------------------------------------------------------------*/
/*	1.	Global Styles
/*-----------------------------------------------------------------------------------*/
/* Elements */
body {
	font-size: 15px;
	line-height: 1.3;
	background-color:#FFFBDE;
	background-image:url(../images/background.jpg);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#2A2017;
}

main {
	padding-top:20px;
	padding-bottom:20px;
}

a {
	transition:all 0.4s ease-out 0s;
	color:inherit;
	text-decoration:none;
	outline:none !important;
}

input[type="text"], input[type="email"], textarea, .woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
	border:0px;
	width:90%;
	height:40px;
	line-height:40px;
	font-size:14px;
	margin-bottom:10px;
	padding-left:5%;
	padding-right:5%;
	-webkit-appearance:none;
}

textarea {
	height:200px;
	font-family:inherit;
	-webkit-appearance:none;
	line-height:1.5;
	padding-top:10px;
}

img {
	max-width:100%;
	border:0px;
	transition:all 0.4s ease-out 0s;
}

p {
	margin-top:10px;
	margin-bottom:10px;
}

button, .link-1, .wpcf7-submit, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	background-color:#a07831;
	text-transform:uppercase;
	width:auto;
	height:40px;
	display:block;
	font-size:14px;
	color:#fff;
	font-weight:bold;
	border:2px solid #a07831;
	cursor:pointer;
	transition:all 0.4s ease-out 0s;
	-webkit-appearance:none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-left:10px;
	padding-right:10px;
}

.link-1, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	line-height:40px;
	height:40px;
	position:relative;
	width:auto;
	display:block;
}	
	.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
		background-color:#a07831;
		color:#fff;
		border:2px solid #a07831;
		margin-top:0px;
		padding:0px;
		padding-left:5px;
		padding-right:5px;
		text-align:center;
	}
	.link-1:hover, button:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .wpcf7-submit:hover, .woocommerce #respond:hover input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
		background-color:transparent;
		color:#a07831;
	}
	
.woocommerce div.product form.cart .button, #place_order, .checkout_coupon .button {
	line-height:1;
}

.woocommerce ul.products li.product .star-rating {
	margin: auto;
}

.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text {
	height:150px;
}

.woocommerce div.product form.cart div.quantity {
	float:none;
	margin-bottom:10px;
}

.checkout-button {
	padding:0px !important;
}

.woocommerce .cart .button, .woocommerce .cart input.button {
	float:right;
}

#coupon_code {
	width:150px;
}

.woocommerce table.shop_table, .woocommerce table.shop_table td, .cart-subtotal td, #add_payment_method .cart-collaterals .cart_totals tr td, #add_payment_method .cart-collaterals .cart_totals tr th, .woocommerce-cart .cart-collaterals .cart_totals tr td, .woocommerce-cart .cart-collaterals .cart_totals tr th, .woocommerce-checkout .cart-collaterals .cart_totals tr td, .woocommerce-checkout .cart-collaterals .cart_totals tr th, #add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods, .woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
	border-color:#a07831;
}

.checkout_coupon .button {
	line-height:1;
	float:right;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
	background-color:transparent;
}

.woocommerce-tabs {
}
	.woocommerce div.product .woocommerce-tabs ul.tabs {
		padding-left:0px;
	}
		.woocommerce div.product .woocommerce-tabs ul.tabs::before {
			border:none;
		}
		.woocommerce div.product .woocommerce-tabs ul.tabs li {
			background-color:#a07831;
		}
			.woocommerce div.product .woocommerce-tabs ul.tabs li a {
				color:#fff;
			}
			.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
				color:#2a2017;
			}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before {
	content:normal;
}

#comment {
	padding-left:1.5%;
	padding-right:1.5%;
	width:97%;
}

blockquote {
	font-weight:bold;
	font-family: 'Arimo', sans-serif;
	font-size:24px;
	padding-left:40px;
	padding-right:40px;
	position:relative;
}
	blockquote span.close {
		background-image:url(../images/blockquote-close.png);
		display:block;
		position:absolute;
		right:40px;
		bottom:0px;
		width:40px;
		height:26px;
		background-repeat:no-repeat;
	}

label {
	margin-left:5px;
}
/* Classes */
.wrap {
	margin:0 auto;
	width:1200px;
}

.clear {
	clear:both;
}

.four-columns {
	width:100%;
	overflow:hidden;
}
	ul.four-columns {
		list-style-type:none;
		margin-left:0px;
	}
	.four-columns .column {
		width:22%;
		margin-left:1.5%;
		margin-right:1.5%;
		float:left;
		margin-bottom:10px;
	}
		.four-columns .column:nth-child(4n+1) {
			clear:both;
		}
	
.three-columns {
	width:100%;
	overflow:hidden;
}
	ul.three-columns {
		list-style-type:none;
		margin-left:0px;
	}
	.three-columns .column {
		width:30%;
		margin-left:1.5%;
		margin-right:1.5%;
		float:left;
		margin-bottom:20px;
	}
		.three-columns .column:nth-child(3n+1) {
			clear:both;
		}
	
.two-columns {
	width:100%;
	overflow:hidden;
}
	ul.two-columns {
		list-style-type:none;
		margin-left:0px;
	}
	.two-columns .column {
		margin-left:2%;
		margin-right:2%;
		width:46%;
		float:left;
		margin-bottom:10px;
	}
		.two-columns .column:nth-child(2n+1) {
			clear:both;
		}

.cms-content ul, .cms-content ol {
	margin-left:15px;
}

.title {
	font-size:20px;
	display:block;
	border-bottom:1px solid #2a2017;
	font-family: 'Oswald', sans-serif;
}

.field {
	padding-top:3px;
	padding-bottom:3px;
}
/* IDs */
/* Header Styles */
header {
	position:relative;
	z-index:999;
	width:100%;
	overflow:visible;
	padding-top:20px;
}
#logo {
	display:block;
	margin:0px auto;
	margin-bottom:20px;
	text-align:center;
	overflow:hidden;
	text-indent:-1000px;
	background-image:url(../images/saianna-style-studio.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:contain;
	width:200px;
	height:200px;
}

#main-menu {
	list-style-type:none;
	width:100%;
	overflow:visible;
	font-family: 'Archivo Narrow', sans-serif;
}
	#main-menu li {
		float:left;
		width:16%;
		text-align:center;
		position:relative;
		padding-bottom:5px;
	}
		#main-menu li a {
			display:block;
			text-transform:uppercase;
			line-height:2;
		}
			#main-menu li:hover a, #main-menu li.current-menu-item a {
				background-color:#A07831;
				color:#fff;
			}
		#main-menu li ul {
			position:absolute;
			top:35px;
			left:0px;
			list-style-type:none;
			background-color:#A07831;
			width:100%;
			display:none;
		}
			#main-menu li ul li {
				border-bottom:1px #fff dashed;
				width:100%;
				float:none;
				text-align:left;
				padding-bottom:0px;
			}
				#main-menu li ul li:last-child {
					border-bottom:none;
				}
				#main-menu li ul li a {
					display:block;
					color:#fff;
					padding-left:10px;
					background-image:none !important;
				}

.responsive-show {
	width:100%;
	text-align:center;
	background-color:#a07831;
	padding-top:10px;
	padding-bottom:10px;
	color:#fff;
	display:none;
}

#responsive-menu {
	display:none;
}
	#responsive-menu ul {
		list-style-type:none;
		width:100%;
		overflow:hidden;
	}
		#responsive-menu ul li {
			border-bottom:1px #fff dashed;
			width:100%;
		}
			#responsive-menu ul li:last-child {
				border-bottom:none;
			}
			#responsive-menu ul li a {
				background-color:#a07831;
				display:block;
				padding-bottom:10px;
				padding-top:10px;
				text-align:center;
				color:#fff;
			}
			#responsive-menu ul li ul {
				list-style-type:none;
				display:none;
			}

#slider {
	margin-bottom:20px;
	margin-top:20px;
}
	#slider img {
		width:100%;
	}
/* Footer Styles */
footer {
	padding-bottom:20px;
	padding-top:10px;
	border-top:2px solid #2a2017;
	font-family: 'Archivo Narrow', sans-serif;
}
	footer h3 {
		text-align:left;
		border-bottom:1px solid #2a2017;
		display:block;
		line-height:2;
	}
	footer .column {
	}

.footer-menu {
	list-style-type:none;
	text-align:left;
	margin-top:10px;
}

.social-icons {
	list-style-type:none;
	width:120px;
	overflow:hidden;
	margin-top:10px;
}
	.social-icons li {
		float:left;
	}
		.social-icons li a {
			width:50px;
			height:50px;
			background-image:url(../images/social-icons.png);
			background-repeat:no-repeat;
			text-indent:-1000px;
			overflow:hidden;
			display:block;
			margin-left:10px;
		}
			.social-icons li a.facebook {
				background-position: 0px 0px;
			}
			.social-icons li a.instagram {
				background-position: 0px -60px;
			}
/*-----------------------------------------------------------------------------------*/
/*	2.	Landing Page Styles
/*-----------------------------------------------------------------------------------*/
#landing {
	text-align:center;
	margin-top:200px;
}
/*-----------------------------------------------------------------------------------*/
/*	3.	Home Page Styles
/*-----------------------------------------------------------------------------------*/
#home ul.products li {
	margin-top:10px;
	margin-bottom:0px;
}

.home-collections {
	text-align:center;
}
	.home-collections.two-columns .column {
		margin-top:20px;
	}

.customise {
	text-align:center;
	padding-top:40px;
	padding-bottom:40px;
}

	.customise .link-1 {
		margin:0px auto;
		margin-top:20px;
		width:220px;
	}

.customers-say {
	text-align:center;
}
	.customers-say .testimonials {
		padding-top:40px;
	}
/*-----------------------------------------------------------------------------------*/
/*	3.	Products Page Styles
/*-----------------------------------------------------------------------------------*/
aside {
	width:20%;
	margin-right:2%;
	float:left;
	margin-top:25px;
}
	aside h3 {
		text-align:center;
	}

.main-content {
	width:78%;
	float:left;
}

.products-grid .product {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	text-align:center;
	position:relative;
	margin-bottom:20px;
	cursor:pointer;
}

.woocommerce ul.products li.product h3 {
	font-size:15px;
	padding:0px;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	text-align:center;
}

.product-categories {
	list-style-type:none;
	margin-left:0px !important;
	display:none;
}
	.product-categories li, .product-parent-category {
		border-bottom:1px dotted #2a2017;
		margin-bottom:0px;
	}
		.product-categories li a, .product-parent-category a {
			display:block;
			padding-left:20px;
			padding-bottom:5px;
			padding-top:5px;
			background-color:#a07831;
			color:#fff;
		}
		.product-parent-category {
			position:relative;
		}
		.product-parent-category a {
			padding-left:5px;
			background-color:#a07831;
			text-align:center;
			color:#fff;
		}
			.product-parent-category a.expander {
				position:absolute;
				top:4px;
				right:10px;
				padding:0px;
				line-height:1;
				font-size:22px;
				padding-left:5px;
				padding-right:5px;
			}
				.product-parent-category a.expander span.minus, .product-parent-category a.expander.show span.plus {
					display:none;
				}
				.product-parent-category a.expander.show span.minus {
					display:block;
				}
			.product-categories li a:hover, .product-parent-category a:hover {
				color:#fff;
				background-color:#a07831;
			}
			
.woocommerce-breadcrumb {
	display:none;
}

.count {
	background-color:transparent !important;
}
/*-----------------------------------------------------------------------------------*/
/*	4.	Product Details Page Styles
/*-----------------------------------------------------------------------------------*/
.product-image {
	width:30%;
	float:left;
}
	.product-image .thumbnails {
		list-style-type:none;
		width:100%;
		overflow:hidden;
		margin-top:10px;
	}
	.product-image .thumbnails li {
		float:left;
		width:20%;
		margin-left:2.5%;
		margin-right:2.5%;
	}

#product-details .details {
	width:65%;
	padding-left:5%;
	float:left;
}
	#product-details .details button {
		float:left;
		margin-left:20px;
		margin-top:30px;
	}
	#product-details .details input[type="text"] {
		width:120px;
	}
	
.woocommerce div.product .link-1 {
	display:inline-block;
	width:auto;
	margin-bottom:10px;
	padding-left:20px;
	padding-right:20px;
}

.product_meta span {
	display:block;
}
	.product_meta span.sku {
		display:inline;
	}
/*-----------------------------------------------------------------------------------*/
/*	3.	Blog Page Styles
/*-----------------------------------------------------------------------------------*/
.blog h1 {
	text-align:center;
}

.blog .wrap {
	overflow:hidden;
}

.blog .link-1.prev {
	float:left;
}

.blog .link-1.next {
	float:right;
}

.banner {
	margin-top:20px;
	margin-bottom:20px;
}
	.banner img {
		width:100%;
	}
/*-----------------------------------------------------------------------------------*/
/*	3.	Gallery Page Styles
/*-----------------------------------------------------------------------------------*/
#gallery {
}
	#gallery .three-columns {
		padding-top:3px;
	}
	#gallery .three-columns a {
		display:block;
		padding-top:20px;
		padding-bottom:20px;
	}
		#gallery .three-columns a:hover img {
			-webkit-box-shadow: 2px 2px 12px 5px rgba(0,0,0,0.75);
			-moz-box-shadow: 2px 2px 12px 5px rgba(0,0,0,0.75);
			box-shadow: 2px 2px 12px 5px rgba(0,0,0,0.75);
		}
	
/*-----------------------------------------------------------------------------------*/
/*	3.	Two Column Template Styles
/*-----------------------------------------------------------------------------------*/
#two-columns {
	padding-top:20px;
	width:100%;
	overflow:hidden;
}
	#two-columns .left {
		width:46%;
		padding-left:2%;
		padding-right:2%;
		float:left;
	}
	#two-columns .right {
		width:46%;
		padding-left:2%;
		padding-right:2%;
		float:right;
		padding-top:10px;
	}
	
#two-columns .blog-post {
	padding-top:30px;
}
	#two-columns article.blog-post h2 {
		border-bottom:none;
	}
	#two-columns .blog-post a {
		display:block;
	}
	#two-columns .blog-post .link-1 {
		width:120px;
	}
	
#two-columns .sidebar-right {
	margin-left:2%;
	margin-right:0px;
}
/*-----------------------------------------------------------------------------------*/
/*	10.	Wordpress Styles
/*-----------------------------------------------------------------------------------*/
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}	
/*-----------------------------------------------------------------------------------*/
/*	4.	Responsive Slider Styles
/*-----------------------------------------------------------------------------------*/
/*! http://responsiveslides.com v1.54 by @viljamis */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
	.rslides li {
	  -webkit-backface-visibility: hidden;
	  position: absolute;
	  display: none;
	  width: 100%;
	  left: 0;
	  top: 0;
	}
		.rslides li:first-child {
		  position: relative;
		  display: block;
		  float: left;
		}
	.rslides img {
	  display: block;
	  height: auto;
	  float: left;
	  width: 100%;
	  border: 0;
	}

.rslides_nav {
	position:absolute;
	top:48%;
	color:#fff;
	z-index:999;
	background-repeat:no-repeat;
	background-position:center center;
	width:50px;
	height:50px;
	display:block;
	text-indent:-1000px;
	overflow:hidden;
}
	.rslides_nav.next {
		right:20px;
		top:51%;
		background-image:url(../images/slider/next.png);
	}
	.rslides_nav.prev {
		background-image:url(../images/slider/prev.png);
		left:20px;
	}

.slider-container {
	position:relative;
}
/*-----------------------------------------------------------------------------------*/
/*	4.	Media Queries
/*-----------------------------------------------------------------------------------*/
@media (max-width: 1200px) {
	.wrap {
		width:96%;
		padding-left:2%;
		padding-right:2%;
	}
}
@media (max-width: 1000px) {
	#main-menu li {
		padding-bottom:10px;
	}
	#main-menu li a, #main-menu li ul li a {
		font-size:12px;
	}
	#main-menu li ul {
		top:30px;
	}
	#logo {
		height:150px;
		width:150px;
	}
	#slider {
		margin-top:0px;
	}
}
@media (max-width: 768px) {
	.menu-main-menu-container {
		display:none;
	}
	.responsive-show {
		display:block;
	}
	.three-columns .column {
		width:47%;
	}
		.three-columns .column:nth-child(3n+1) {
			clear:none;
		}
		.three-columns .column:nth-child(2n+1) {
			clear:both;
		}
	#two-columns .main-content {
		float:none;
		width:100%;
	}
	#two-columns aside {
		display:none;
	}
	#product aside {
		float:none;
		width:100%;
	}
	#product .main-content {
		float:none;
		width:100%;
		padding-top:20px;
	}
	#two-columns .left, #two-columns .right {
		float:none;
		width:96%;
	}
	.product-category-container {
		margin-bottom:20px;
	}
	.product-parent-category a.expander	{
		padding-left:20px;
		padding-right:20px;
	}
}
@media (max-width: 500px) {
	.three-columns .column {
		width:97%;
	}
		.three-columns .column:nth-child(2n+1) {
			clear:none;
		}
}
@media (max-width: 415px) {
	.woocommerce div.product .woocommerce-tabs ul.tabs li a {
		font-size:14px;
	}
}
@media (max-width: 393px) {
	.woocommerce div.product .woocommerce-tabs ul.tabs li a {
		font-size:12px;
	}
	.woocommerce-Tabs-panel h2 {
		font-size:16px;
	}
}
@media (max-width: 342px) {
	.woocommerce div.product .woocommerce-tabs ul.tabs li a {
		font-size:10px;
		display:block;
	}
}